.catalog-card{
    width: 100%;
    max-width: 18rem;   
    border: none;
    
}
.card-text{
    font-size: 15px;
    font-weight: bold;
    margin-top: auto;
}
.card-img{
    height: 10rem;
    background-size: cover;
    background-position: center;
    padding-bottom: 15px;
}
.catalog-card:hover{
    transform: translateY(-15px);
    transition: 0.5s;
}