.info-navbar {
  background-color: #ff0000;
  color: #ffffff;
  padding: 5px 0;
  text-align: center;
  font-weight: bold;
}

.custom-navbar {
  width: 100%;
  display: flex;
  justify-content: center;
}

.navbar-container {
  max-width: 1080px !important;
  margin: 0 2rem;
}

.navbar-toogle {
  border: 0 !important;
  box-shadow: none !important;
}

@media screen and (max-width: 720px) {
  .navbar-container {
    justify-content: center;
  }
  .navbar-social {
    display: flex !important;
    flex-direction: row !important;
  }
  .navbar-social a {
    margin-top: 10px;
    margin-right: 10px;
  }
}
