.info-navbar {
  color: #ffffff;
  padding: 5px 0;
  height: 30px;
  text-align: center;
  justify-content: center;
  font-weight: bold;
}

.custom-navbar {
  width: 100%;
  display: flex;
  justify-content: center;
}

.navbar-container {
  max-width: 1080px !important;
  margin: 0 2rem;
  padding: 0 !important;
}

.navbar-social {
  display: flex !important;
  flex-direction: row !important;
  justify-content: end;
  margin-right: 1rem;
}

.navbar-social a i {
  font-size: 1.5rem !important;
}

.navbar-toogle {
  border: 0 !important;
  box-shadow: none !important;
  padding: 0 !important;
  margin: 0 !important;
}

.navbar-container .nav-link {
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #000 !important;
  font-weight: 600 !important;
}

@media screen and (min-width: 950px) {
  .navbar-social {
    display: flex !important;
    align-items: center;
    margin-right: 0;
  }
  .navbar-social a {
    margin-left: 1rem;
    padding: 0 !important;
  }
  .navbar-social a i {
    font-size: 1rem !important;
  }
}

@media screen and (max-width: 950px) {
  .navbar-container {
    justify-content: center;
    max-width: 90vw !important;
  }

  .navbar-social a {
    margin-top: 10px;
    margin-right: 16px;
    border: none !important;
  }
  .navbar-nav a {
    border-bottom: 1px solid rgba(0, 0, 0, 0.087);
  }

  .navbar-nav a:hover {
    border-bottom: 1px solid rgba(82, 82, 82, 0.219);
  }
}
