.size-home-icons {
  font-size: 3rem;
  color: #616161;
}

.desktop-mvr {
  display: none;
  position: relative;
  top: 48%
}

.content-mvr {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
}

.movile-mvr {
  display: flex;
  justify-content: center;
  background-color: #f0efeb;
}

.movile-mvr .content-mvr div h3 {
  color: #000 !important;
}

@media screen and (min-width: 1050px) {
  .movile-mvr {
    /* display: none; */
  }
  .desktop-mvr {
    display: flex;
    justify-content: center;
  }
  /* .content-mvr {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: start;
  } */
  /* .content-mvr div {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    width: 28%;
    height: 11rem;
    color: white;
    background-color: #00000096;
    transition: background-color 0.3s ease, color 0.3s ease;
  } */
  /* .content-mvr h3 {
    color: white;
 
  } */
  /* .content-mvr div p {
    display: none;
  } */
  /* .content-mvr div i {
    color: white;
  } */
  /* .content-mvr div:hover {
    cursor: pointer;
    height: fit-content;
    background-color: #555454cb;
  } */

  /* .content-mvr div:hover p {
    display: block;
    opacity: 1;
  } */
}

@media screen and (max-width: 1050px) {
  .content-mvr div {
    width: 100%;
  }
}
