.background-transporte {
  background-image: url("../../assets/camion-home.webp");
  height: 100vh;
  width: 100%;
  margin-top: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 1s ease-out;
}

.background-transporte:hover {
  transform: scale(1.05);
}

.background-slogan {
  position: relative;
  top: 50%;
  left: 10%;
  font-weight: 600;
  color: #fff;
}

.cta-muchiutti {
  font-size: 0.9rem;
  color: #000;
  text-decoration: none;
  border: none !important;
}

.red-transparent-truck {
  position: relative;
  background-image: url("../../assets/camion-home.webp");
  height: 85vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.red-transparent-truck::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccd5aee8;
  color: #000 !important;
  z-index: 1;
}

.row-background-red {
  z-index: 2;
}

.size-experience-icons {
  font-size: 2.5rem;
  font-weight: 600;
}

.line-h-experience {
  line-height: 1.2;
  letter-spacing: 0.05em;
}

@media screen and (min-width: 1050px) {
  .background-slogan {
    top: 38%;
    left: 5% !important;
  }
  .red-transparent-truck {
    height: 45vh;
  }
  .row-background-red {
    width: 100%;
    flex-direction: row !important;
  }
}

@media screen and (max-width: 1050px) {
  .background-transporte {
    height: 70vh;
  }
}
