.footer-style{
    background-color: gray;
    flex-direction: column;
}
.footer-div{
    flex-direction: column;
}
.footer-title{
    font-size: 15px;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-links{
    color: white;
    padding-left: 10px;
    

}
.company-lista  {
    list-style: none !important;
}
.company-lista li{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-copyright{
    color: white;
    align-items: center;
    font-weight: 600;
}
.footer-icons{
    color: white;
}
.hr-style{
    color: white;
}
.footer-img{
    height: 100px;
    padding-bottom: 20px;
}
@media screen and (min-width: 1031px) {
    .footer-div{
        flex-direction: row;
    }
}