.catalog-container{
    gap: 1rem ;
    flex-wrap: wrap;
}

.catalog-card {
    flex: 1 1 calc(33.33% - 1rem); /* 3 tarjetas por fila (100% / 3) */
    max-width: 18rem; /* Limitar el tamaño máximo */
  }
  

  @media screen and (max-width: 900px) {
    .catalog-card {
      flex: 1 1 calc(50% - 1rem);
    }
  }
  
  /* A partir de 400px: 1 tarjeta por fila */
  @media screen and (max-width: 623px) {
    .catalog-card {
      flex: 1 1 100%;
    }
  }