.company-somos {
  font-weight: bold;
}
.company-foto {
  width: 100vw;
  object-fit: cover;
}
.company-container {
  flex-direction: column;
  height: fit-content;
  /* height: 10; */
}

@media screen and (min-width: 1050px) {
  .company-container {
    align-items: start !important;
    flex-direction: row-reverse;
    height: 100%;
    /* max-width: 1400px; */
  }
  .company-foto {
    width: 45vw !important;
    /* height: 100%; */
    object-fit: cover;
    aspect-ratio: 0.6;
  }
  .company-historia {
    /* height: 100%; */
    margin-left: 3rem;
    width: 65%;
    display: grid !important;
    gap: 0.3rem;
  }
}

@media (min-width: 1024px) and (max-width: 1280px) {
  .company-foto {
    width: 45vw !important;
    /* height: 100%; */
    object-fit: cover;
    aspect-ratio: 0.48;
  }
}


@media screen and (min-width: 1440px) {
  .company-foto {
    width: 45vw !important;
    /* height: 100%; */
    object-fit: cover;
    aspect-ratio: 0.8;
  }
}
