.operation-container-1 {
  flex-direction: column;
  position: relative;
}
.operation-container-2 {
  flex-direction: column;
  padding: 3rem 0;
}
.operation-container-icons {
  flex-direction: column;
}
.operation-icon {
  font-size: 50px;
}
.operation-number {
  padding-top: 10px;
  font-size: 20px;
  font-weight: 600;
  height: 20px;
}

.first-text-operation {
  width: 100%;
}

.operation-img1-desktop {
  display: none;
}

.operation-img2-desktop {
  display: none;
}

.operation-img1-movile {
  display: block;
  width: 100vw;
}

.operation-img2-movile {
  display: block;
  width: 100vw;
}

@media screen and (min-width: 1050px) {
  .operation-img1-desktop {
    display: block;
    height: 100%;
    right: -38%;
    position: absolute;
    object-fit: cover;
    aspect-ratio: 0.8;
  }
  .first-text-operation {
    width: 55%;
  }
  .second-text-operation {
    width: 50%;
    margin-right: 10%;
  }

  .operation-img2-desktop {
    display: block;
    left: 0%;
    top: 0%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    /* aspect-ratio: 0.5; */
  }
  .operation-img1-movile {
    display: none;
  }
  .operation-img2-movile {
    display: none;
  }
  .operation-container-1 {
    /* display: flex; */
    align-items: start;
    justify-content: flex-end;
    align-content: flex-end;
    height: fit-content;
    flex-direction: row;
  }
  .operation-container-1 div {
    justify-content: flex-end;
    align-content: flex-end;
  }
  .operation-container-2 {
    position: relative;
    height: fit-content;
    flex-direction: row-reverse;
  }
}

@media (min-width: 1024px) and (max-width: 1280px) {
  .operation-img1-desktop {
    right: -35%;
    aspect-ratio: 0.7;
  }
  .operation-img2-desktop {
    aspect-ratio: 0.5;
  }
}

@media screen and (min-width: 1440px)  {
  .operation-img1-desktop {
    right: -80%;
    aspect-ratio: 1.15;
  }
  .operation-img2-desktop {
    /* aspect-ratio: 1.15; */
  }
}




